

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
* {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
* {
    box-sizing: border-box;
}  
html{
	height:100%;
}
body {
      height:100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
h1 {
	font-size:2.5em;
	font-weight: 200;
}

h2 {
	font-size:2.0em;
	font-weight: 200;
}

h3 {
	font-size:1.75em;
	font-weight: 200;
}

h4 {
	font-size:1.5em;
	font-weight: 200;
}

h5 {
	font-size:1.0em;
	font-weight: 200;
}

h6 {
	font-size:.8em;
	font-weight: 200;
}

h1, 
.h1, h2, 
.h2, h3, 
.h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.clear {
    clear:both;
}

.fl_rt {
	float: right;
}

.fl_lt {
	float: left;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.tac {
	text-align: center;
}

hr {
	border-style: dotted;
	border-color: #ccc;
	margin: 15px 0 20px 0;
}

li {
	list-style-type: none;
}
p {
    margin: 0px 0px 10px;
}
a:active, a:hover, a:focus {
	outline: 0px none;
}
a:hover, a:focus {
    color: #666;
    text-decoration: none;
}
a {
    color: #f96302;
    text-decoration: none;
}
a {
    background: none repeat scroll 0% 0% transparent;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0px;
}
/* Start */

/* End */

/* Navigation Start */
.navbar {
	box-shadow: none !important;
	margin-bottom:0px;
	min-height: 50px;
	border: 0 none;
	position: relative;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
    background-image: linear-gradient(to bottom, #FFF 0px, #F8F8F8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-header {
    float: left;
}
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-toggle {
    display: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}
.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}
.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /*border-color: #E7E7E7;*/
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0px none;
    box-shadow: none;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
}
.collapse {
    display: none;
}
.navbar-nav {
    float: left;
    margin: 0px;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li {
    float: left;
}
.navbar-default .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #EBEBEB 0px, #F3F3F3 100%);
    background-repeat: repeat-x;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.075) inset;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #EBEBEB 0px, #F3F3F3 100%);
    background-repeat: repeat-x;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.075) inset;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
.navbar-static-top, 
.navbar-fixed-top, 
.navbar-fixed-bottom {
    border-radius: 0px;
}
.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 1px;
}
.navbar-fixed-top, 
.navbar-fixed-bottom {
    border-radius: 0px;
}
.navbar-fixed-top, 
.navbar-fixed-bottom {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    transform: translate3d(0px, 0px, 0px);
}
.navbar-inverse {
	background-image: none;
	background-color: #333;
	border: none !important;
	z-index: 99;
}

.navbar-search {
	 display: inline-block; 
	 width: 400px; 
	 margin: 0px 0px 15px;
	 float:left;
}
.navbar-icon {}

.navbar-icons ul {
	margin: 0px;
	padding: 10px 0px 10px;
}

.navbar-icons ul li {
	display: inline-block;
}

.navbar-icons ul li a {
	
}

.navbar-icons ul li a img {
	
}

.navbar-right{
	text-align: right;
}

.serviceSubheader
{
	color : #3F6826;
}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 25%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.login-name{
	color : #777;
	text-align: right;
}
.jumbotron {
	background: none repeat scroll 0 0 #222222;
}

.search-input {
    margin-top: 25px;
    text-align: center;
}

.app-body{
	background: none repeat scroll 0 0 #fff;
	margin-bottom: 0px;
}

.app-body > article {
	margin: 0 10px !important;
}

.app-name {
	background: #EEEEEE;
    display: block;
    margin: 10px;
    padding: 10px;
    height: 44px;
}

.app-name div {
	display: inline-block;
}

.app-name h2, 
.app-name h3 {
	margin: 0px;
	font-size: 24px !important;
}

.container{
	width:100%;
}

.container-select {
	background: #EEEEEE;
    display: block;
    margin: 5px;
    padding: 0px;
    height: 125px;
    clear: left;
    float: left;
}

.container-details {
	background: #EEEEEE;
    display: block;
    margin: 10px;
    padding: 10px;
}

.headerWhite .webapp-brand{
	background: url("../images/webapp_org_Logo.png") no-repeat left center;
	display: inline-block;
    height: 80px;
    padding: 4px;
    width: 275px;
    float:left;
    margin-bottom: -8px;
    margin-top: 10px;
}

.headerOrange .webapp-brand{
	background: url("../images/webapp_wht_Logo.png") no-repeat left center;
	display: inline-block;
    height: 80px;
    padding: 4px;
    width: 275px;
    float:left;
    margin-bottom: -8px;
    margin-top: 10px;
}

.headerGray .webapp-brand{
	background: url("../images/webapp_wht_Logo.png") no-repeat left center;
	display: inline-block;
    height: 80px;
    padding: 4px;
    width: 275px;
    float:left;
    margin-bottom: -8px;
    margin-top: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #DDD;
}
.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: outside none none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-tabs > li > a:hover {
    border-color: #EEE #EEE #DDD;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
}
.nav-pills > li {
    float: left;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #666;
}
.nav-pills > li > a {
    border-radius: 4px;
}
nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0px;
}
caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: outside none none;
    font-size: 1em;
    text-align: left;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #E5E5E5;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #EEE;
    border-color: rgba(0, 0, 0, 0.15);
}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
    background-color: #E8E8E8;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #F5F5F5;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0px none;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #FFF;
}
.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #DDD;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #DDD;
    border-radius: 4px 4px 0px 0px;
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0px;
    border-radius: 4px;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 0px;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-tabs > li > a:hover {
    border-color: #EEE #EEE #DDD;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
}
.nav-justified > li > a {
    margin-bottom: 0px;
}
.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
nav-pills > li + li {
    margin-left: 2px;
}
.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.nav-justified > li {
    float: none;
}
/* Navigation End*/

/* Container Start */
.row {
	margin-left:0;
	margin-right:0;
}

.container {
	max-width: 100%;
}
.container-details .container-select {
	display: inline-block;
	height: 30px;
    margin: 0;
    width: 800px;
    margin: 0 10px 10px 0;
    float: left;
}
.container-selector{
    border: 0 none;
    color: #333333;
    font-size: 18px;
    height: 35px;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    text-overflow: "";
    white-space: nowrap;
    float: left;
    text-indent: 0.01px;
    -webkit-appearance: none;        /*Removes default chrome and safari style*/
    -moz-appearance: none;          /* Removes Default Firefox style*/
}

.container-selector{
	background: #ccc;
	width: 350px;
	
}

.container-details .container-select .details_view {
  	background: url("../images/arrow_down.png") no-repeat scroll 155px center #ccc;
    border: 0 none;
    color: #333333;
    font-size: 18px;
    height: 35px;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    text-overflow: "";
    white-space: nowrap;
    width: 175px;
    text-indent: 0.01px;
    -webkit-appearance: none;        /*Removes default chrome and safari style*/
    -moz-appearance: none;          /* Removes Default Firefox style*/
}

.container-details .container-stats {
	display: inline-block;
	background: #ccc;
	height: 35px;
	width: 965px;
	margin: 0 0 10px 0;
}

.container-details .container-stats ul {
	margin: 0px;
	padding: 0px;
}

.container-details .container-stats ul li {
	display: inline-block;
    float: left;
    font-size: 18px;
    padding: 2px 15px 0 10px;
}

.container-details .details {
	display: block;
}

.container {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
 
@media (min-width:768px){.container{width:750px}
 
}
 
@media (min-width:992px){.container{width:970px}
 
}
 
@media (min-width:1200px){.container{width:1170px}
 
}
 
.container-fluid {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
 
.row {
	margin-left:-15px;
	margin-right:-15px
}


/* Container End */

.leftFloat{
	float: left;
}

.rightFloat{
	float:right;
}
.btn-margin-med{
	margin-right:15px;
}

.detailsHeader{
	font-weight: bold;
	font-size: 16px;
}
.detailsData{
	font-weight: normal;
	font-size: 16px;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.radio label, 
.checkbox label {
    display: inline-block;
    font-weight: 200;
}
.right-inner-addon
{
	float: right;
	top: -20px;
	right: 10px;
}
.addon-ok
{
	color: #468847;
}
.addon-bad
{
	color:red;
}
.error
{
	color:red;
}
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline{
	padding-top: 4px;
}
.list-radio{
	margin-top: 0px;
	margin-bottom: 0px;
}
.active-checkbox{
	float: right;
	padding-right: 150px;
}
.rest-legend
{
	font-size:14px;
	font-weight: bold;
}
/* Details Tabs start

.tabContainer{ 
    	position:relative; 
		width:100%; 
	} 
    .tabMenu{ 
    	position:relative; 
    	height:30px; 
    	margin: 0 0 1px 0;
    }
    .tabContent{ 
    	position:relative; 
    	font:12px; 
    	color:#444444; 
    	background:none #E4E4E4; 
    	overflow:auto; 
    	margin-top:5px;
   	} 
    .tabContent .content{ 
    	display:none; 
    } 
    .tabContent .active{ 
	    padding:5px 10px; 
	    display:block; 
    } 
    .menu{
	    margin:0 auto; 
	    padding:0; 
	    height:30px; 
	    width:100%; 
	    display:block; 
    } 
    .menu li{
	    padding:0; 
	    margin:0; 
	    list-style:none; 
	    display:inline-block;
    } 
    .menu li a{
	    float:left; 
	    display:inline-block; 
	    color:#333; 
	    text-decoration:none; 
	    font:18px Verdana, Arial, Helvetica, sans-serif; 
	    cursor:pointer; 
    } 
    .menu li a span{
	    line-height:30px; 
	    float:left; 
	    display:block; 
	    padding:0 10px; 
    } 
    .menu li a:hover{
    	background-position:0px -60px; 
    } 
    .menu li a:hover span{
    	background-position:100% -60px;
    } 
    .menu li a.active, 
.menu li a.active:hover{
    	line-height:30px; 
    	font:12px; 
    } 
    .menu li a.active span, 
.menu li a.active:hover span{
    	background:#e4e4e4;
    	color: #F96302;
    } 
  
 Details Tabs end */

#processing{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0px 0px -50px;
	opacity:0.5;
	z-index: 100;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}


#newServiceBtn{
	color: #F96302;
	background-color: #fff;
	font-size:24px;
	font-weight: 200;
}

#newServiceBtn:hover{
	color: #999999;
}

/* New Service Modal Start*/

#newService.modal.fade .modal-dialog {
	-webkit-transform:translate(125%,0%);
	-ms-transform:translate(125%,0%);
	transform:translate(125%,0%);
	-webkit-transition:-webkit-transform .3s ease-out;
	-moz-transition:-moz-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out
}

#newService.modal.in .modal-dialog{
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	transform:translate(0,0)
}

#newService .modal-dialog{
	margin-right:0px;
	margin-top:0px;
	margin-bottom: 0px;
	width: 800px;
}

#newService .control-label{
	text-align: left;
}

#newService .radio-inline{
	padding-left:0px;
}

#soapOptions{
	padding: 5px 0px;
}

.options{
	background-color:#eeeeee;
	margin:5px;
}

/* New Service Modal End */

/* Login Popover Start */

#loginDialog.popover{
	display:none;
}

#loginDialog.popover.in{
	display:block;
}


/* Login Popover End */

/* Scroll Hidden Header Start*/

header {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  z-index:2;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
header.default {
  top: 0;
  border-radius: 0px !important;
}
header.hideHeader {
  top: -100px;
  /*border-bottom: 1px solid #f96302;
  box-shadow: 0 0 5px 5px #999;*/
}

.headerWhite {
	background: #ffffff;
	color: #f96302;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 5px 5px #ccc;
}

.headerWhite a {
	text-decoration: none;
	color: #f96302;
	border-bottom: 2px solid #fff
}

.headerWhite a:hover {
	text-decoration: none;
	color: #666;
	border-bottom: 2px solid #666;
}

.headerWhite .iconUser {
	background: url('../images/icon_user.png') no-repeat top center;
	height: 25px;
	width: 25px;
}

.headerWhite h1 {
	color: #f96302;
}

.headerOrange {
	background: #f96302;
}

.headerOrange a {
	color: #fff;
}

.headerOrange h1 {
	color: #fff;
}

.headerOrange a:hover {
	color: #fff;
}

.headerGray {
	background: #333;
}

.headerGray a {
	color: #fff;
}

.headerGray h1 {
	color: #fff;
}

.headerGray a:hover {
	color: #f96302;
}

.app-body.default {
	position: relative;
	top:150px;
}

.app-body.hideHeader {
	top: 49px;
}

.topNav {
	padding: 0 10px;
}

.topNav .navMenu {
	margin: 0px; 
	padding: 0px; 
	display: inline-block;
}

.topNav .navMenu li {
	float: left;
	list-style: none;
}

.topNav .navMenu li a {
	text-decoration: none;
	font-weight: 200;
	margin: 0 20px 0 0;
	padding: 0px;
	font-size: 1.5em;
	font-weight: 200;
	display: block;
	border-radius: 0px !important;
}

.topNav .navMenu li a:hover {
	
}

/* Scroll Hidden Header End*/

.btn-default{
	background-image:none;
}

#submitButton, #backButton{
	padding:3px 5px;
	color: #fff;
}

#backButton{
	background-color:#aaa;
}

#submitButton{
	background-color: #F96302;
}
#submitButton[disabled]{
	background-color: #ddd;
}

.soapOption.btn{
	background-color: #f96302;
	color: #fff;
}

#includeInactiveServices{
	color: #f96302;
    font-size: 24px;
    line-height: 30px;
    padding: 6px 12px;
}

/* Checkboxes and Radio Start */

input[type="checkbox"],input[type="radio"]{
vertical-align:middle;
display: none;
}

input[type="checkbox"]+label,input[type="radio"]+label{
cursor:pointer;
}

input[type="checkbox"]+label:before,input[type="radio"]+label:before{
content:"";
display:inline-block;
height:14px;
margin:1px 4px 0 0;
vertical-align:middle;
width:14px;
}

input[type="checkbox"]+label:before{
background:url(../images/mm_radio_checkbox.png)-14px top no-repeat;
}

input[type="checkbox"]:checked+label:before{
background:url(../images/mm_radio_checkbox.png)-42px top no-repeat;
}

input[type="radio"]+label:before{
background:url(../images/mm_radio_checkbox.png)0 top no-repeat;
}

input[type="radio"]:checked+label:before{
background:url(../images/mm_radio_checkbox.png)-28px top no-repeat;
}

/* Checkboxes and Radio End */


/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}  
  
/* Service List Start */

.list-group-item:hover {
	background: #eeeeee;
}

.list-group-item .likeWidget {
	text-align: center; 
	vertical-align: middle; 
	display: inline-block; 
	width: 55px; 
	height: 55px; 
	padding: 0px; 
	color: #ccc;
	float: left;
}

.list-group-item .likeWidget a {
	
}

.list-group-item .likeWidget a i {
	
}

.list-group-item .likeWidget .linkCount {
	
}

.servUnliked {
	color: #666;
}

.servLiked {
	color: #f96302;
}

.list-group-item .listItem {
	height: 55px; 
	display: inline-block; 
	padding: 0px;
}

.list-group-item .listItem .itemHead {
	color: #666;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    margin: 0;
}

.list-group-item .listItem .itemDesc {
	margin: 0px; 
	font-size: 18px; 
	color: #f96302; 
	font-weight: 300;
}

.ver_label {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 0.75em;
    margin: 5px 0 0 10px;
    padding: 0 3px;
    vertical-align: middle;
}

.ver1_color {
	background: #e9573f;
}

.ver2_color {
	background: #e9573f;
}

.ver3_color {
	background: #e9573f;
}

.ver4_color {
	background: #e9573f;
}

.ver5_color {
	background: #e9573f;
}

.ver6_color {
	background: #e9573f;
}

.ver7_color {
	background: #e9573f;
}

.ver8_color {
	background: #e9573f;
}

.ver9_color {
	background: #e9573f;
}

.ver10_color {
	background: #e9573f;
}


/* Service List End */

/* Buttons Start */

.btn {
	color: #FFF;
	cursor: pointer;
	padding: 6px;
	border: 0px none;
	margin: 0px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.btn:hover, 
.btn:focus {
	color: #fff;
	text-decoration: none;
}

.btn-orange {
	background: #f96302;
}

.btn-white {
	background: #000;
}

.btn-gray {
	background: #969696;
}

.btn-sml {
	font-size: 0.8em;
	font-weight: 600;
}

.btn-med {
	font-size: 1.0em
}

.btn-lrg {
	font-size: 1.2em
}
.btn-group, 
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.btn-group > .btn:first-child {
    margin-left: 0px;
}
.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.btn-primary {
    background-image: linear-gradient(to bottom, #F96302 0px, #F96305 100%);
    background-repeat: repeat-x;
    border-color: #F96302;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-group > .btn:hover, 
.btn-group-vertical > .btn:hover, 
.btn-group > .btn:focus, 
.btn-group-vertical > .btn:focus, 
.btn-group > .btn:active, 
.btn-group-vertical > .btn:active, 
.btn-group > .btn.active, 
.btn-group-vertical > .btn.active {
    z-index: 2;
}
.btn-primary {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
.btn-primary:active, 
.btn-primary.active {
    background-color: #777;
    border-color: #777;
}
.btn-primary:hover, 
.btn-primary:focus {
    background-color: #f96305;
    background-position: 0px -15px;
}
.btn:active, .btn.active {
    background-image: none;
}
.btn-default:active, 
.btn-primary:active, 
.btn-success:active, 
.btn-info:active, 
.btn-warning:active, 
.btn-danger:active, 
.btn-default.active, 
.btn-primary.active, 
.btn-success.active, 
.btn-info.active, 
.btn-warning.active, 
.btn-danger.active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}
[data-toggle="buttons"] > .btn > input[type="radio"], 
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input[type="radio"], 
input[type="checkbox"] {
    margin: 4px 0px 0px;
    line-height: normal;
}
input[type="checkbox"], 
input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}

#switch, #circle {
  height: 50px;
  transition: .4s;
}

#switch {
  width: 100px;
  margin: 140px auto 0;
  border: 2px solid #E8EAEC;
  border-radius: 27px;
  background: #FAFAFB;
}

#circle {
  width: 50%;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(26,53,71,.25), 0 0 0 1px rgba(26,53,71,.07);
  background: #fff;
}

#switch.active {
  border-color: #41C955;
  background: #52D468;
}

#switch.active #circle {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* Buttons End */

/* Color Key Start */

li.colorKey {
	width:100%; 
	padding:10px; 
	display:block; 
	text-align:center; 
	border-bottom:1px solid #fff; 
	color:#fff;
}
#thd.colorKey{
	background-color:#f96302;
}
#err.colorKey{
	background-color:#ED1C24;	
}
#zero.colorKey{
	background-color:#000;
}
#three.colorKey{
	background-color:#333;
}
#six.colorKey{
	background-color:#666;
}
#seven.colorKey{
	background-color:#777;
}
#nine.colorKey{
	background-color:#999;
}
#c.colorKey{
	background-color:#ccc; color:#555;
}
#d.colorKey{
	background-color:#ddd; color:#555;
}
#e.colorKey {
	background-color:#eee; color:#555;
}

/* Color Key Ends */

/* Forms Start */

.fcs:focus {
    border-bottom-color: rgba(249, 99, 2, 0.5);
    outline: 0px none;
    box-shadow:0px 0px 3px rgba(249, 99, 2, 0.3) inset;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

label {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 30px;
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
	display: inline-block;
}

input {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 30px;
	vertical-align: middle;
	border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #CCC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 3px 6px;
	display: inline-block;
	background: #F5F5F5;
}

textarea {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 30px;
	vertical-align: middle;
	border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #CCC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 3px 6px;
	display: inline-block;
	background: #F5F5F5;
}

select {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 30px;
	vertical-align: middle;
	border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #CCC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 3px 6px;
	display: inline-block;	
}

/* Forms End */

/* Tables Start */

.tablePod {
	width:100%; 
	border-collapse:collapse; 
	margin: 0px !important;
}
.tablePod td { 
	padding:10px;
}

.tableBorders td { 
	border-right: 1px solid #d9d9d9;
}

.tableBorders td:last-child {
	border: none !important;
}

/*.tablePod td:nth-child(odd) { 
	border-left: 1px solid #d9d9d9;
}

.tablePod td:nth-child(even) {
	border-left: 1px solid #ffffff;
}*/

.tablePod th { 
	padding:10px;
	font-size: 1.2em;
	font-weight: 400; 
}

.tablePod thead tr {
	background: #E0E0E0 !important;
}

.tablePod tfoot tr {
	background: #E0E0E0 !important;
}

.tablePod tr {
	background: #b8d1f3;
}
	/*  Define the background color for all the ODD background rows  */
.tablePod tr:nth-child(odd) { 
	background: #ffffff;
}
	/*  Define the background color for all the EVEN background rows  */
.tablePod tr:nth-child(even) {
	background: #f2f2f2;
	border-left: 1px solid #ffffff;
}
	
.tablePod tr:first-child { 
	background: ;
}
	
.tablePod tr:last-child { 
	background: ;
}

/* ----------------------------------------------------------------------------------- */

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.table thead tr {
	background: #e0e0e0
}

.table tfoot tr {
	background: #e0e0e0
}

.table thead tr th {
	font-size: 1.2em;
	font-weight: 400;
}
.table > caption + thead > tr:first-child > th, 
.table > colgroup + thead > tr:first-child > th, 
.table > thead:first-child > tr:first-child > th, 
.table > caption + thead > tr:first-child > td, 
.table > colgroup + thead > tr:first-child > td, 
.table > thead:first-child > tr:first-child > td {
    border-top: 0px none;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #DDD;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 0 none;
    border-radius: 0px;
}
th {
    text-align: left;
}
td, th {
    padding: 0px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F2F2F2;
}

.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
    background-color: #FEEDDE;
}

.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    border: 1px solid #e0e0e0;
}

.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > tbody > tr > td, 
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table > thead > tr > td.active, 
.table > tbody > tr > td.active, 
.table > tfoot > tr > td.active, 
.table > thead > tr > th.active, 
.table > tbody > tr > th.active, 
.table > tfoot > tr > th.active, 
.table > thead > tr.active > td, 
.table > tbody > tr.active > td, 
.table > tfoot > tr.active > td, 
.table > thead > tr.active > th, 
.table > tbody > tr.active > th, 
.table > tfoot > tr.active > th {
    background-color: #F5F5F5;
}

.table-hover > tbody > tr > td.active:hover, 
.table-hover > tbody > tr > th.active:hover, 
.table-hover > tbody > tr.active:hover > td, 
.table-hover > tbody > tr:hover > .active, 
.table-hover > tbody > tr.active:hover > th {
    background-color: #E8E8E8;
}

.table > thead > tr > td.success, 
.table > tbody > tr > td.success, 
.table > tfoot > tr > td.success, 
.table > thead > tr > th.success, 
.table > tbody > tr > th.success, 
.table > tfoot > tr > th.success, 
.table > thead > tr.success > td, 
.table > tbody > tr.success > td, 
.table > tfoot > tr.success > td, 
.table > thead > tr.success > th, 
.table > tbody > tr.success > th, 
.table > tfoot > tr.success > th {
    background-color: #DFF0D8;
}

.table-hover > tbody > tr > td.success:hover, 
.table-hover > tbody > tr > th.success:hover, 
.table-hover > tbody > tr.success:hover > td, 
.table-hover > tbody > tr:hover > .success, 
.table-hover > tbody > tr.success:hover > th {
    background-color: #D0E9C6;
}

.table > thead > tr > td.info, 
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th {
    background-color: #D9EDF7;
}

.table-hover > tbody > tr > td.info:hover, 
.table-hover > tbody > tr > th.info:hover, 
.table-hover > tbody > tr.info:hover > td, 
.table-hover > tbody > tr:hover > .info, 
.table-hover > tbody > tr.info:hover > th {
    background-color: #C4E3F3;
}

.table > thead > tr > td.warning, 
.table > tbody > tr > td.warning, 
.table > tfoot > tr > td.warning, 
.table > thead > tr > th.warning, 
.table > tbody > tr > th.warning, 
.table > tfoot > tr > th.warning, 
.table > thead > tr.warning > td, 
.table > tbody > tr.warning > td, 
.table > tfoot > tr.warning > td, 
.table > thead > tr.warning > th, 
.table > tbody > tr.warning > th, 
.table > tfoot > tr.warning > th {
    background-color: #FCF8E3;
}

.table-hover > tbody > tr > td.warning:hover, 
.table-hover > tbody > tr > th.warning:hover, 
.table-hover > tbody > tr.warning:hover > td, 
.table-hover > tbody > tr:hover > .warning, 
.table-hover > tbody > tr.warning:hover > th {
    background-color: #FAF2CC;
}

.table > thead > tr > td.danger, 
.table > tbody > tr > td.danger, 
.table > tfoot > tr > td.danger, 
.table > thead > tr > th.danger, 
.table > tbody > tr > th.danger, 
.table > tfoot > tr > th.danger, 
.table > thead > tr.danger > td, 
.table > tbody > tr.danger > td, 
.table > tfoot > tr.danger > td, 
.table > thead > tr.danger > th, 
.table > tbody > tr.danger > th, 
.table > tfoot > tr.danger > th {
    background-color: #F2DEDE;
}

.table-hover > tbody > tr > td.danger:hover, 
.table-hover > tbody > tr > th.danger:hover, 
.table-hover > tbody > tr.danger:hover > td, 
.table-hover > tbody > tr:hover > .danger, 
.table-hover > tbody > tr.danger:hover > th {
    background-color: #EBCCCC;
}

/* ----------------------------------------------------------------------------------- */

.pagination {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
}

.pagination > li {
	display: inline;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 5px 10px;
    line-height: 1.42857;
    text-decoration: none;
    color: #555;
    background-color: #f2f2f2;
    margin-left: 0px;
    font-size: .9em;
    font-weight: 300;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    color: #F96302;
    background-color: #FFF;
    border-color: #DDD;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    z-index: 2;
    color: #FFF;
    background-color: #555;
    font-weight: 400;
    border: 0 none;
    cursor: default;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    margin-left: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    color: #999;
    background-color: #FFF;
    border-color: #DDD;
    cursor: not-allowed;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}



/* Tables End */

/* Lists Start */

.list-group {
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0px;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.list-group-item:hover {
    background: none repeat scroll 0% 0% #EEE;
}
.item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
    text-shadow: 1px 0px 0px #999;
    background-image: linear-gradient(to bottom, #F96302 0px, #F96305 100%);
    background-repeat: repeat-x;
    border-color: #F96302;
}
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #F96305;
    border-color: #F96305;
}
a.list-group-item {
    color: #555;
}
a.list-group-item:hover, 
a.list-group-item:focus {
    text-decoration: none;
    color: #555;
    background-color: #F5F5F5;
}
a.list-group-item .list-group-item-heading {
    color: #333;
}
.list-group-item-heading {
    margin-top: 0px;
    margin-bottom: 5px;
}
.list-group-item-text {
    margin-bottom: 0px;
    line-height: 1.3;
}
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
    text-shadow: none /*0px -1px 0px #999*/;
    background-image: linear-gradient(to bottom, #F96302 0px, #F96305 100%);
    background-repeat: repeat-x;
    border-color: #F96302;
}
.list-group-item.active .list-group-item-heading, 
.list-group-item.active:hover .list-group-item-heading, 
.list-group-item.active:focus .list-group-item-heading, 
.list-group-item.active .list-group-item-heading > small, 
.list-group-item.active:hover .list-group-item-heading > small, 
.list-group-item.active:focus .list-group-item-heading > small, 
.list-group-item.active .list-group-item-heading > .small, 
.list-group-item.active:hover .list-group-item-heading > 
.small, .list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}
.list-group-item.active .list-group-item-text, 
.list-group-item.active:hover .list-group-item-text, 
.list-group-item.active:focus .list-group-item-text {
    color: #FFFFFF;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
dl {
    margin-top: 0px;
    margin-bottom: 20px;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dt {
    font-weight: bold;
}
.dl-horizontal dd {
    margin-left: 180px;
}
dd {
    margin-left: 0px;
}
dt, dd {
    line-height: 1.42857;
}

a.list-group-item.active > .badge, 
.nav-pills > .active > a > .badge {
    color: #f96305;
    background-color: #FFF;
}
.list-group-item > .badge {
    float: right;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: .85em;
    font-weight: 600;
    color: #FFF;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 10px;
}
/* Lists End */

/* Flex-Text Start */

.flex-text{
	font-weight:300
}

@media only screen and (min-width: 360px){
	.flex-text{
		font-size:1.2rem
	}

}

@media only screen and (min-width: 0px){
	.flex-text{
		line-height:0.8rem
	}

}

@media only screen and (min-width: 390px){
	.flex-text{
		font-size:1.224rem
	}

}

@media only screen and (min-width: 30px){
	.flex-text{
		line-height:0.904rem
	}

}

@media only screen and (min-width: 420px){
	.flex-text{
		font-size:1.248rem
	}

}

@media only screen and (min-width: 60px){
	.flex-text{
		line-height:1.008rem
	}

}

@media only screen and (min-width: 450px){
	.flex-text{
		font-size:1.272rem
	}

}

@media only screen and (min-width: 90px){
	.flex-text{
		line-height:1.112rem
	}

}

@media only screen and (min-width: 480px){
	.flex-text{
		font-size:1.296rem
	}

}

@media only screen and (min-width: 120px){
	.flex-text{
		line-height:1.216rem
	}

}

@media only screen and (min-width: 510px){
	.flex-text{
		font-size:1.32rem
	}

}

@media only screen and (min-width: 150px){
	.flex-text{
		line-height:1.32rem
	}

}

@media only screen and (min-width: 540px){
	.flex-text{
		font-size:1.344rem
	}

}

@media only screen and (min-width: 180px){
	.flex-text{
		line-height:1.424rem
	}

}

@media only screen and (min-width: 570px){
	.flex-text{
		font-size:1.368rem
	}

}

@media only screen and (min-width: 210px){
	.flex-text{
		line-height:1.528rem
	}

}

@media only screen and (min-width: 600px){
	.flex-text{
		font-size:1.392rem
	}

}

@media only screen and (min-width: 240px){
	.flex-text{
		line-height:1.632rem
	}

}

@media only screen and (min-width: 630px){
	.flex-text{
		font-size:1.416rem
	}

}

@media only screen and (min-width: 270px){
	.flex-text{
		line-height:1.736rem
	}

}

@media only screen and (min-width: 660px){
	.flex-text{
		font-size:1.44rem
	}

}

@media only screen and (min-width: 300px){
	.flex-text{
		line-height:1.84rem
	}

}

@media only screen and (min-width: 690px){
	.flex-text{
		font-size:1.464rem
	}

}

@media only screen and (min-width: 330px){
	.flex-text{
		line-height:1.944rem
	}

}

@media only screen and (min-width: 720px){
	.flex-text{
		font-size:1.488rem
	}

}

@media only screen and (min-width: 360px){
	.flex-text{
		line-height:2.048rem
	}

}

@media only screen and (min-width: 750px){
	.flex-text{
		font-size:1.512rem
	}

}

@media only screen and (min-width: 390px){
	.flex-text{
		line-height:2.152rem
	}

}

@media only screen and (min-width: 780px){
	.flex-text{
		font-size:1.536rem
	}

}

@media only screen and (min-width: 420px){
	.flex-text{
		line-height:2.256rem
	}

}

@media only screen and (min-width: 810px){
	.flex-text{
		font-size:1.56rem
	}

}

@media only screen and (min-width: 450px){
	.flex-text{
		line-height:2.36rem
	}

}

@media only screen and (min-width: 840px){
	.flex-text{
		font-size:1.584rem
	}

}

@media only screen and (min-width: 480px){
	.flex-text{
		line-height:2.464rem
	}

}

@media only screen and (min-width: 870px){
	.flex-text{
		font-size:1.608rem
	}

}

@media only screen and (min-width: 510px){
	.flex-text{
		line-height:2.568rem
	}

}

@media only screen and (min-width: 900px){
	.flex-text{
		font-size:1.632rem
	}

}

@media only screen and (min-width: 540px){
	.flex-text{
		line-height:2.672rem
	}

}

@media only screen and (min-width: 930px){
	.flex-text{
		font-size:1.656rem
	}

}

@media only screen and (min-width: 570px){
	.flex-text{
		line-height:2.776rem
	}

}

@media only screen and (min-width: 960px){
	.flex-text{
		font-size:1.68rem
	}

}

@media only screen and (min-width: 600px){
	.flex-text{
		line-height:2.88rem
	}

}

/* Flex-Text End */

/* Tabs Start*/

#tabContainer {
    position:relative;
    width:100%;
}
#tabMenu {
    position:relative;
    height:30px;
    margin: 0 0 1px 0;
}
#tabContent {
    position:relative;
    font:12px;
    color:#444444;
    background:none #E2E2E2;
    overflow:auto;
    padding: 15px;
    border-radius: 0px;
}
#tabContent .content {
    display:none;
}
#tabContent .active {
    display:block;
}
.menu li a .tabStatus {
	width: 18px;
	height: 18px;
	line-height: 30px;
	vertical-align: middle;
	margin: 6px 0 6px 3px;
}

.tsGood {
	background: url("../images/tab_icon_good.png") no-repeat !important;	
}

.tsWarn {
	background: url("../images/tab_icon_warning.png") no-repeat !important;	
}

.tsBad {
	background: url("../images/tab_icon_bad.png") no-repeat !important;	
}

.menu {
    margin:0 auto;
    padding:0;
    height:30px;
    width:100%;
    display:block;
}
.menu li {
    padding:0;
    margin:0;
    list-style:none;
    display:inline-block;
}
.menu li > span {
    line-height:30px;
    display:block;
    padding:0;
    font-size: 1.4em;
    font-weight: 300;
}
.menu li a {
    float:left;
    display:inline-block;
    color:#333;
    text-decoration:none;
    font-size: inherit;
    cursor:pointer;
    background: #f0f0f0;
    padding:0 10px;
    border-radius: 0px;

}
.menu li a:last-child {
	background: ;
}
.menu li a span {
    line-height:30px;
    float:left;
    display:block;
    font-size: 1.4em;
    font-weight: 300;

}
.menu li a:hover {
    background-position:0px -60px;
}
.menu li a:hover span {
    background-position:100% -60px;
}
.menu li a.active, 
.menu li a.active:hover {
    line-height:30px;
    font:12px;
}
.menu li a.active, 
.menu li a.active:hover {
    background:#E2E2E2;
    color: #F96302;
}

/* Tabs End */

/* Progress Bar Start */

.progress {
    background-image: linear-gradient(to bottom, #EBEBEB 0px, #F5F5F5 100%);
    background-repeat: repeat-x;
}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.progress-bar {
    background-image: linear-gradient(to bottom, #f96302 0px, #f93305 100%);
    background-repeat: repeat-x;
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #F96302;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}
.progress-striped .progress-bar, 
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar, 
.progress-bar.active {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-bar-success {
    background-image: linear-gradient(to bottom, #5CB85C 0px, #449D44 100%);
    background-repeat: repeat-x;
}
.progress-bar-success {
    background-color: #5CB85C;
}
.progress-bar-warning {
    background-image: linear-gradient(to bottom, #F0AD4E 0px, #EC971F 100%);
    background-repeat: repeat-x;
}
.progress-bar-warning {
    background-color: #F0AD4E;
}
.progress-bar-danger {
    background-image: linear-gradient(to bottom, #D9534F 0px, #C9302C 100%);
    background-repeat: repeat-x;
}
.progress-bar-danger {
    background-color: #D9534F;
}

.bg-primary {
    color: #FFF;
    background-color: #428BCA;
    padding: 10px;
}
.bg-success {
    background-color: #DFF0D8;
    padding: 10px;
}
.bg-info {
    background-color: #D9EDF7;
    padding: 10px;
}
.bg-warning {
    background-color: #FCF8E3;
    padding: 10px;
}
.bg-danger {
    background-color: #F2DEDE;
    padding: 10px;
}
.alert-warning {
    background-image: linear-gradient(to bottom, #FCF8E3 0px, #F8EFC0 100%);
    background-repeat: repeat-x;
    border-color: #F5E79E;
}
.alert {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.2;
}
/* Progress Bar End */

/* Accordion Start */

.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 0px;
}
.panel {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default {
    border-color: #DDD;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: none 0;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
    background-image: none /*linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%)*/;
    background-repeat: repeat-x;
}
.panel-default > .panel-heading {
    color: #444;
    background-color: #E2E2E2;
    border-color: #DDD;
}
.panel-group .panel-heading {
    border-bottom: 0px none;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
}
.panel-title > a {
    color: inherit;
    display: block;
	width: 100%;
	height: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #DDD;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #DDD;
    background: #f0f0f0;
}
.panel-body {
    padding: 15px;
}

/* Accordion End */

/* Carousel Start */

.carousel {
    position: relative;
}
.carousel-indicators {
    bottom: 20px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0px;
    list-style: outside none none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}
.carousel-indicators .active {
    margin: 0px;
    width: 12px;
    height: 12px;
    background-color: #FFF;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
    text-shadow: 1px 0px 0px #999;
    background-image: linear-gradient(to bottom, #F96302 0px, #F96305 100%);
    background-repeat: repeat-x;
    border-color: #F96302;
}
.carousel-inner > .active {
    left: 0px;
}
.carousel-inner > .active, 
.carousel-inner > .next, 
.carousel-inner > .prev {
    display: block;
}
.carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
}
.carousel-control.right {
    left: auto;
    right: 0px;
    background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
}
.carousel-control {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 15%;
    opacity: 0.5;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev {
    margin-left: -15px;
}
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next {
    margin-right: -15px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}
.carousel-control .icon-prev, 
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

/* Carousel End */


/* Portlet Drag & Drop Start */

.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}
.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

.portlet {
    margin: 0px 1em 1em 0px;
    padding: 0.3em;
}
.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-left, 
.ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, 
.ui-corner-top, 
.ui-corner-right, 
.ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, 
.ui-corner-top, 
.ui-corner-left, 
.ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-widget-content {
    border: 1px solid #AAA;
    background: url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFF;
    color: #222;
}
.ui-widget {
    font-family: "Helvetica Neue",Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-helper-clearfix {
    min-height: 0px;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.ui-widget-header {
    border: 1px solid #AAA;
    background: url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
    color: #222;
    font-weight: bold;
}
.ui-sortable-handle {
}
.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -8px;
}
.ui-icon-minusthick {
    background-position: -64px -128px;
}
.ui-icon-plusthick {
    background-position: -32px -128px;
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.portlet-content {
    padding: 0.4em;
}

/* Portlet Drag & Drop End */



/* Template Page Sart */


pre {
	margin: 10px 0px;
	width: 600px;
	display: inline;
	line-height: 1;
	vertical-align: middle;
}

.pageButtons > ul {
	padding: 0px;
}

/* .pageButtons > ul li {
	list-style: none;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
} */

.pageButtons > table {
	margin: 0 0 10px 10px;
	border-radius: 4px;
	background:#F5F5F5; 
}

.optTable {
	
}

.optTable tr {
	
}

.optTable tr td {
	padding: 5px;
	vertical-align: top;
	border: 1px solid #ccc;
}

.optTable tr td h3 {
	margin: 0px;
	font-weight: 300;
}

.optTable tr td ul {
	padding: 0px;
	margin: 0px;	
}

.optTable tr td ul li {
	
}

.preview table {
	
}

.preview table tr {
	line-height: 40px;
}

.preview table tr td {
	padding: 10px;
}

/*.preview table tr td p {
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5em;
}*/

.preview h1, 
.preview h2, 
.preview h3, 
.preview h4, 
.preview h5, 
.preview h6 {
	display: inline;
}

pre, code {
    color: #06F;
    background-color: #F8F8F8;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 20px;
}
code {
    white-space: pre;
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
    background: none repeat scroll 0% 0% #FFF;
    margin-bottom: 8px;
}

/* Template Page End */